@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f0f4f8;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #002b5b;
    border-radius: 6px;
    border: 3px solid #f0f4f8;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #004a9f;
  }
  
  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #002b5b #f0f4f8;
  }

  body {
    margin: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f3f4f6;
  }
  
  /* .container {
    max-width: 1200px;
  } */
  
  @media (max-width: 640px) {
    .container {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  
  